
<div *ngIf="diagnosis">
    <h2><span>Diagnosis</span> {{diagnosis.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{diagnosis.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Recovery</span></dt>
        <dd>
            <span>{{diagnosis.recovery}}</span>
        </dd>
        <dt><span>Doctor</span></dt>
        <dd>
            <div *ngIf="diagnosis.doctor">
                <a [routerLink]="['/doctor', diagnosis.doctor?.id]">{{diagnosis.doctor?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'diagnosis/'+ diagnosis.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
