<div>
    <h2>
        <span>Diagnoses</span>
        <button class="btn btn-primary float-right jh-create-entity create-diagnosis" [routerLink]="['/', { outlets: { popup: ['diagnosis-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Diagnosis
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="diagnoses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Recovery</span></th>
            <th><span>Doctor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diagnosis of diagnoses ;trackBy: trackId">
                <td><a [routerLink]="['../diagnosis', diagnosis.id ]">{{diagnosis.id}}</a></td>
                <td>{{diagnosis.date | date:'mediumDate'}}</td>
                <td>{{diagnosis.recovery}}</td>
                <td>
                    <div *ngIf="diagnosis.doctor">
                        <a [routerLink]="['../doctor', diagnosis.doctor?.id ]" >{{diagnosis.doctor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../diagnosis', diagnosis.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'diagnosis/'+ diagnosis.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'diagnosis/'+ diagnosis.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
