
<div *ngIf="anamnesis">
    <h2><span>Anamnesis</span> {{anamnesis.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Jmbg</span></dt>
        <dd>
            <span>{{anamnesis.jmbg}}</span>
        </dd>
        <dt><span>Current Diagnosis</span></dt>
        <dd>
            <div *ngIf="anamnesis.currentDiagnosis">
                <a [routerLink]="['/diagnosis', anamnesis.currentDiagnosis?.id]">{{anamnesis.currentDiagnosis?.id}}</a>
            </div>
        </dd>
        <dt><span>Allergies Ingredient</span></dt>
        <dd>
            <span *ngFor="let allergiesIngredient of anamnesis.allergiesIngredients; let last = last">
                <a [routerLink]="['/ingredient', allergiesIngredient?.id ]">{{allergiesIngredient.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Allergies Drugs</span></dt>
        <dd>
            <span *ngFor="let allergiesDrugs of anamnesis.allergiesDrugs; let last = last">
                <a [routerLink]="['/drug', allergiesDrugs?.id ]">{{allergiesDrugs.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'anamnesis/'+ anamnesis.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
