<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAnamnesisLabel">Create or edit a Anamnesis</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!anamnesis.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="anamnesis.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_jmbg">Jmbg</label>
            <input type="text" class="form-control" name="jmbg" id="field_jmbg"
                [(ngModel)]="anamnesis.jmbg" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_currentDiagnosis">Current Diagnosis</label>
            <select class="form-control" id="field_currentDiagnosis" name="currentDiagnosis" [(ngModel)]="anamnesis.currentDiagnosis">
                <option [ngValue]="null"></option>
                <option [ngValue]="diagnosisOption.id === anamnesis.currentDiagnosis?.id ? anamnesis.currentDiagnosis : diagnosisOption" *ngFor="let diagnosisOption of currentdiagnoses; trackBy: trackDiagnosisById">{{diagnosisOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_allergiesIngredient">Allergies Ingredient</label>
            <select class="form-control" id="field_allergiesIngredient" multiple name="allergiesIngredient" [(ngModel)]="anamnesis.allergiesIngredients">
                <option [ngValue]="getSelected(anamnesis.allergiesIngredients, ingredientOption)" *ngFor="let ingredientOption of ingredients; trackBy: trackIngredientById">{{ingredientOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_allergiesDrugs">Allergies Drugs</label>
            <select class="form-control" id="field_allergiesDrugs" multiple name="allergiesDrugs" [(ngModel)]="anamnesis.allergiesDrugs">
                <option [ngValue]="getSelected(anamnesis.allergiesDrugs, drugOption)" *ngFor="let drugOption of drugs; trackBy: trackDrugById">{{drugOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
