<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDiagnosisLabel">Create or edit a Diagnosis</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!diagnosis.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="diagnosis.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="diagnosis.date"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_recovery">Recovery</label>
            <input type="checkbox" class="form-control" name="recovery" id="field_recovery"
                [(ngModel)]="diagnosis.recovery" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_doctor">Doctor</label>
            <select class="form-control" id="field_doctor" name="doctor" [(ngModel)]="diagnosis.doctor" >
                <option [ngValue]="null"></option>
                <option [ngValue]="doctorOption.id === diagnosis.doctor?.id ? diagnosis.doctor : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackDoctorById">{{doctorOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_anamnesis">Anamnesis</label>
            <select class="form-control" id="field_anamnesis" name="anamnesis" [(ngModel)]="diagnosis.anamnesis" >
                <option [ngValue]="null"></option>
                <option [ngValue]="anamnesisOption.id === diagnosis.anamnesis?.id ? diagnosis.anamnesis : anamnesisOption" *ngFor="let anamnesisOption of anamneses; trackBy: trackAnamnesisById">{{anamnesisOption.jmbg}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_drugs">Drugs</label>
            <select class="form-control" id="field_drugs" multiple name="drugs" [(ngModel)]="diagnosis.drugs">
                <option [ngValue]="getSelected(diagnosis.drugs, drugOption)" *ngFor="let drugOption of drugs; trackBy: trackDrugById">{{drugOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_symptoms">Symptoms</label>
            <select class="form-control" id="field_symptoms" multiple name="symptoms" [(ngModel)]="diagnosis.symptoms">
                <option [ngValue]="getSelected(diagnosis.symptoms, symptomOption)" *ngFor="let symptomOption of symptoms; trackBy: trackSymptomById">{{symptomOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_disease">Disease</label>
            <select class="form-control" id="field_disease" multiple name="disease" [(ngModel)]="diagnosis.diseases">
                <option [ngValue]="getSelected(diagnosis.diseases, diseaseOption)" *ngFor="let diseaseOption of diseases; trackBy: trackDiseaseById">{{diseaseOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
