<div class="container">
    <div class="row">

        <div class="col-6">
            <div>
                <label class="run" for="karton">Karton:</label>
                <input id="karton" type="text" class="form-control" [(ngModel)]="anamnesis" [ngbTypeahead]="searchAnamnesis"
                       [resultTemplate]="rt" [inputFormatter]="formatMatchesAnam" [resultFormatter]="formatMatchesAnam"   />
                <label class="run"><input type="checkbox" [(ngModel)]="recovery"> Oporavlja se od operacije</label>
                <br>
                <label class="run" for="simptom">Simptomi:</label>
                <input id="simptom" type="text" class="form-control" [(ngModel)]="symptom" [ngbTypeahead]="search"
                       [resultTemplate]="rt" [inputFormatter]="formatMatches" [resultFormatter]="formatMatches"   />
                <button class="btn btn-primary" (click)="enterSymptom()">
                    <span>Dodaj</span>
                </button>
            </div>
            <div class="run">
                <button class="btn btn-success" (click)="run()">
                    <span>Pronadji bolest</span>
                </button>
            </div>
        </div>

        <div class="col-6">
            <div class="container">
                <h4>
                    <span>Simptomi</span>
                </h4>
                <div class="row">
                    <table class="table table-striped">
                        <tbody>
                        <tr *ngFor="let s of enteredSymptoms; let i = index">
                            <td>{{ s.name }}</td>
                            <td><input *ngIf="s.name === 'Visoka telesna temperatura'"
                                       [(ngModel)]="s.low"
                                       type="number" min="37">
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="removeFromEntered(s.name)">
                                    <span>x</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
